# Виртуальное окружение
venv/
.venv/
.venvtest/

# Файлы IDE
.idea/
.vscode/

# Кэш Python
__pycache__/
*.pyc

# Файл базы данных — НЕ храним в репозитории.
# Именно поэтому базу инициализируем на сервере командой python init_db.py
*.db
